.screen {
    border: solid 1px #d3d3d3;
    margin: 10px;
    text-align: right;

    border-radius: 15px;
}

.subD{
    margin: 0px;
    font-size: 40px;
    color: gray;
}

.mainD{
    margin:0px;
}

.blank{
    margin:0px;
    opacity:0;
    font-size:40px;
}

.gray {
    color: gray;
}