.Button{
    border-radius: 15px;
    margin: 10px;
    border: solid 1px transparent;
}

.Button:active{
    border: solid 1px black;
}

.Button p {
    margin: 0;
}

.Button:hover{
    cursor: pointer;
}

.NaN{
    background-color: lightgray;
}

.NaN:hover{
    background-color: #9A9A9A;
}

.Number{
    background-color: #f1f3f4;
}

.Number:hover{
    background-color: #E5E5E5;
}


.EqualsSign{
    background-color: #4285f4;
    color: white;
}

.EqualsSign:hover{
    background-color: #649BF6;
}